.idea
.gitignore
__pycache__
talk_dict.json
user_right.json
match_log.json
max_link.json
test.py
UserContent.py
Dota2DataSpider.py
/go-cqhttp/config.yml
/go-cqhttp/device.json
/go-cqhttp/logs
/go-cqhttp/data
/go-cqhttp/session.token
/go-cqhttp/go-cqhttp.bat
config.py